* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.flex {
    background-color: #7591a6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 10px solid grey;
    padding: 10px;
}

.display {
    height: 5rem;
    background-color: #a8b4a8;
    text-align: right;
    line-height: 1.5;
    font-size: 3.5rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    height: 100%;
}

button {
    font-size: 2.75rem;
    aspect-ratio: 1;
    border: none;
    border-radius: 100%;
    padding: 5px;
}

.operator,
.equals {
    background-color: #505b61;
    color: #d3d3d3;
}

.operator:hover,
.equals:hover {
    background-color: #59676e;
}
